body {
    background-color: gray;
}
h1 {
    font-size: 30px;
    color: teal;
}

h2 {
    color: red;
    font-size: 20px;
}

.big {
    font-size: 60px;
}
.uppercase {
    text-transform: uppercase;
    color: blue;
}
.big.uppercase {
    color: navy;
}

span {
    color: violet;
}